@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Raleway:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.width-wrapper{
  max-width: 700px;
}

.hero-container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  background: #262626;
  overflow: hidden; 
  position: relative;
  margin: auto;
  justify-content: center;
}

.hero-left {
  width: 50%;
  background: #262626;
  color: white;
  display: flex;
  flex-direction: column;
  padding:2rem;
}

.logo {
  font-size: 60px;
  font-family: "Corinthia", cursive;
  font-weight: 400;
}

.logo-link{
  text-decoration: none;
  color: white;
}

.the-line-wrapper,.special-heading-wrapper{
  display: flex;
  align-items: center;
  gap: 18px;
}

.sub-title {
  font-size: 58px;
  font-family: "Corinthia", cursive;
  font-weight: 400;
  line-height: 0;
}

.title-line {
  height: 2px;
  width: 120px;
  background-color: #d9d9d9;
  display: inline-block;
  line-height: 0;
}

.title {
  font-size: 58px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  line-height: 0;
}

.description {
  font-size: 15px;
  line-height: 1.6;
  width: 85%;
  font-family: "Raleway", sans-serif;
  margin-bottom: 40px;
  text-align: justify;
  font-weight: 400;
}

.services-btn {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  align-self: flex-start; 
}

.services-btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #c49c63;
  margin-top: 3px;
  
}

.services-btn:hover::after {
  background: #f2efeb;
}

.services-btn a{
  text-decoration: none;
  color: #fff;
}

.hero-right {
  width: 45%;
  position: relative;
  overflow: hidden;
  background-color: #f3eee7;
}

.fixed-header {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  background: #1e1e1e;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  transform: translateY(-100%);
  transition: transform 0.4s ease;
}

.fixed-header.show {
  transform: translateY(0);
  top:0px;
}


.hero-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0;
  transition: opacity 1.2s ease-in-out; 
}

.hero-image.active {
  opacity: 1; 
}

.side-nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;                
  background: #262626;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;     
  align-items: flex-start;     
  gap: 40px;
}

.side-nav a {
  color: white;
  font-size: 17px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  opacity: 0.85;
  writing-mode: vertical-lr;
  display: inline-block;  
  position: relative;    
  white-space: nowrap;
  transition: 0.3s;
}

.side-nav a:hover {
  opacity: 1;
}

.side-nav a::after {
  content: "";
  position: absolute;
  width: 1px;      
  height: 100%;     
  background: transparent;
  left: 10%;       
  bottom: 0;         
  transform: translateX(-50%) rotate(180deg); 
  transform-origin: left center;
}

.side-nav a:hover::after {
  background: #c49c63;
}

.line-wrapper {
  position: absolute;
  left: 55%;                 
  bottom: 22%;
  transform: translateX(-50%);      
  width: 180px;
  height: 60px;
  pointer-events: none;
  z-index: 20;
}

.menu-btn {
  background: transparent; 
  border: none;         
  color: white;          
  font-size: 28px;        
  cursor: pointer;         
  z-index: 9999;
  display: none;          
}

.white-lines {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.white-lines span {
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.8);
}

.about-section{
  background-color: #f3eee7;
  width:100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap:2rem;
}

.about-section-content{
  margin: auto;
  display: flex;
  flex-direction: row;
  width:95%;
  max-width: 1400px;
}

.about-section .text-div{
  display: flex;
  flex-direction: column;
}

.about-section .image-div img{
  display: flex;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.about-section .text-div{
  text-align: right;
  margin-right: 2rem;
}

.about-section .text-div h2{
  font-size: 55px;
  margin-right: 2rem;
}

.about-section h2 .special-heading-wrapper,.footer-insta-pop .gold-script{
   font-family: "Corinthia", cursive;
  font-weight: 400;
  color: #c49c63;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.heading-line{
   height: 2px;
  width: 120px;
  background-color: #c49c63;
  display: inline-block;
  line-height: 0;
}

.about-section h2 .main-title,.footer-insta-pop h2{
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.about-section p{
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-align: justify;
  width:90%;
  margin: auto;
  margin-top: 0;
}

.services-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  text-align: center;
  max-width: 1400px;
  margin: auto;
  margin-top: 5rem;
}

.service-card {
  background: #ffffff;
  color: #1e1e1e;
  transition: 0.4s;
  padding: 4rem 2rem;
  outline: 2px solid #c49c63;     
}

.service-card.dark {
  background: #1e1e1e;
  color: #ffffff;
}

.service-top {
  font-family: "Corinthia", cursive;
  font-size: 60px;
  margin: 0;
  font-weight: 400;
  color: #c49c63;
  line-height: 0;
}

.service-title {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
  line-height: 0.5;
}

.service-card.dark .service-sub{
  color: white;
}

.service-sub {
  font-size: 16px;
  letter-spacing: 1px;
  color: black;
  font-family: "Raleway", sans-serif;
  margin-bottom: 5rem;
  font-weight: 300;
}

.service-btn {
  background: none;
  border: 1px solid #c49c63;
  padding: 10px 28px;
  font-size: 12px;
  letter-spacing: 1.5px;
  color: inherit;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Raleway", sans-serif;
}

.service-btn:hover {
  background: #c49c63;
  color: white;
}

.service-btn a{
  text-decoration: none;
  color: #222;
}

.service-card.dark .service-btn a {
  color: #fff;
}

.services-section{
  margin-bottom: 20rem;
}

.footer {
  width: 100%;
  background: #222;
  position: relative;
  
}

.footer-container {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  padding: 0 1rem; 
}


.footer-insta-pop {
  position: absolute;
  right: 40px;
  top: -450px;   
  width: 450px;
  height: 500px;
  border-radius: 6px;
  text-align: center;
  margin-top: 200px;
}

.footer-insta-pop h2{
  line-height: 0.5;
  font-size: 46px;
}

.footer-insta-pop .insta-grid {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(2, 1fr);
}

.footer-insta-pop img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.footer-bottom {
  background: #222222;
  display: flex;
  width:40%;
  justify-content: space-between;
  margin-left: 2rem;
  gap: 150px;
}

.footer-bottom a{
  text-decoration: none;
  color: #dcdcdc;
}

.footer-col h3 {
  color: #ffffff;
  font-size: 26px;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif; 
  font-weight: 600;
  letter-spacing: 1.5px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col li {
  color: #dcdcdc;
  font-size: 18px;
  margin: 10px 0;
  cursor: pointer;
  font-family: "Raleway", sans-serif; 
  font-weight: 400;
}

.footer-col li:hover {
  color: #c49c63;
}

.work-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  font-family: "Raleway", sans-serif; 
  line-height: 0;
   margin-top: 2rem;
}

.work-title p{
   font-family: "Raleway", sans-serif; 
  font-weight: 400;
}

.footer-col p {
  color: #e5e5e5;
  margin-top: 5px;
  font-size: 18px;
}

.header-wrapper {
  width: 100%;
  background: #222;
  margin-bottom: 30rem;
}

.header-nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 1.1rem;
  padding-top: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: #222;   
}

.header-logo {
  font-size: 50px;
  font-family: "Corinthia",cursive;
  color: white;
}

.header-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.header-links a {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  position: relative;
  transition: 0.3s;
  font-family: 'Raleway',sans-serif;
}

.header-links a:hover {
  color: #c49c63;
}

.header-wrapper h1{
  text-align: center;
  color: white;
  letter-spacing: 1.5px;
  font-size: 40px;
}

.header-wrapper .special-heading-wrapper{
  display: flex;
  justify-content: center;
   font-family: "Corinthia",cursive;
  color: #c49c63;
  font-size: 50px;
  margin-top: 5.5rem;
}

.header-image-container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.header-image {
  width: 50%;
  transition: transform 0.4s;
  margin-bottom: -6rem;
}

.header-image:hover {
  transform: scale(1.02);
}

.header-menu-icon {
  display: none;
  font-size: 32px;
  color: white;
  cursor: pointer;
}

.header-sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  height: 100vh;
  width: 260px;
  background: #111;
  padding: 80px 20px;
  transition: 0.4s ease;
  z-index: 9999;
}

.header-sidebar.open {
  right: 0;
}

.header-sidebar ul {
  list-style: none;
  padding: 0;
}

.header-sidebar li {
  margin: 25px 0;
}

.header-sidebar a {
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
}

.header-sidebar a:hover {
  color: #c49c63;
}

.about-yellow {
  background: #f3eee7;
  padding: 2rem;
  padding-top: 7rem;
  margin-bottom: 4rem;
}

.about-container {
  width: 80%;
  margin: auto;
  font-size: 16px;
  line-height: 1.2;
  color: #333;
  font-family: 'Raleway',sans-serif;
   font-weight: 300;
   max-width: 1400px;
}

.mobile-sidebar {
  position: fixed;
  top: 0;
  right: -100%; 
  width: 80%;
  max-width: 320px;
  height: 100vh;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
  transition: 0.4s ease-in-out;
  z-index: 9999;
  opacity: 0.98;
}

.mobile-sidebar.open {
  left: 0;
}

.sidebar-logo {
  font-size: 32px;
  font-weight: 700;
  color: white;
  font-family: "Corinthia",cursive;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sidebar-links a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: 400;
  transition: 0.3s ease;
}

.sidebar-links a:hover {
  color: #d4a853;
  transform: translateX(5px);
}

.sidebar-footer {
  color: #ccc;
  font-size: 15px;
  line-height: 1.6;
  padding-bottom: 20px;
}

.sidebar-footer a{
  text-decoration: none;
  color: #ccc;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 999;
}

.sidebar-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.special-margin-section{
  margin-top: 10rem;
}

.special-margin-remover{
  margin-top: -7rem;
}

.header-wrapper.no-image {
  padding-bottom: 4rem;   
}