/* BELOW 576px */
@media (max-width: 575px) {
  .hero-container {
    flex-direction: column;
  }

  .hero-left {
    width: 100%;
    padding:1rem;
  }

  .logo {
    font-size: 36px;
  }

  .sub-title {
    font-size: 28px;
  }

  .title-line {
    width: 60px;
  }

  .title {
    font-size: 32px;
  }

  .header-nav{
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .description {
    width: 90%;
    font-size: 13px;
    margin-bottom: 20px;
  }

  .menu-btn{
    margin-right: 2rem;
  }

  .services-btn {
    font-size: 12px;
  }

 .hero-right {
    width: 100%;
    height: 550px;
  }

  .line-wrapper {
    display: none;
  }

   .about-section {
    flex-direction: column;
    gap: 1rem;
  }

  .about-section-content {
    flex-direction: column-reverse;
    width: 95%;
    margin: auto;
  }

  .about-section .image-div img {
    width: 80%;
    margin: 1rem auto;
  }

  .about-section .text-div {
    text-align: center;
    margin-right: 0;
  }

  .about-section .text-div h2 {
    font-size: 32px;
  }

  .about-section h2 .special-heading-wrapper {
    justify-content: center;
  }

  .heading-line {
    width: 60px;
  }

  .about-section h2 .main-title {
    font-size: 24px;
  }

  .about-section p {
    font-size: 12px;
    width: 80%;
    margin: auto;
  }

  .services-section {
    grid-template-columns: 1fr;
  }

  .service-card {
    padding: 2rem 1rem;
  }

  .service-top {
    font-size: 36px;
  }

  .service-title {
    font-size: 24px;
  }

  .service-sub {
    font-size: 14px;
    margin-bottom: 3rem;
  }

  .service-btn {
    font-size: 11px;
    padding: 8px 20px;
  }

  .section-content {
    flex-direction: column-reverse;
    gap: 1rem;
    width: 80%;
    margin: auto;
  }

  .black-bg {
    margin: 1rem 0;
    height: auto;
    padding: 0.5rem;
  }

  .black-bg img {
    width: 100%;
    height: auto;
  }

  .footer-insta-pop {
    position: static;
    width: 95%;
    margin: 0 auto 2rem auto;
    height: auto;
    padding-top: 2rem;
  }

   .footer-insta-pop .the-line-wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .footer-insta-pop img {
    height: 130px;
  }

  .footer-bottom {
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    padding-bottom: 2rem;
    margin: auto;
  }

  .footer-insta-pop h2{
    color: white;
  }

  .footer-col {
    width: 100%;
  }

  .footer-col h3,
  .footer-col li,
  .footer-col p,
  .work-title {
    text-align: center;
  }

  .menu-btn {
    display: block;
  }

  .header-nav {
    justify-content: space-between;
  }

  .header-links {
    display: none;
  }

  .header-menu-icon {
    display: block;
  }

  .header-wrapper .special-heading-wrapper {
    font-size: 28px;
  }

   .header-wrapper h1 {
    font-size: 26px;
  }

  .header-image {
    width: 85%;
  }

  .choose-us-section h2{
    line-height: 1;
  }
}

/* 576px – 768px */
@media (min-width: 576px) and (max-width: 767px) {
  .hero-container {
    flex-direction: column;
  }

 .hero-left {
    width: 100%;
  }

  .hero-right {
    width: 100%;
    height: 550px;
  }

  .logo-menu-wrapper{
    display: flex;
    justify-content: space-between;
  }


  .logo {
    font-size: 45px;
  }

  .sub-title {
    font-size: 36px;
  }

  .title-line {
    width: 80px;
  }

  .title {
    font-size: 42px;
  }

  .description {
    width: 90%;
    font-size: 14px;
    margin-bottom: 25px;
  }

  .services-btn {
    font-size: 13px;
  }

  .hero-right {
    width: 100%;
  }

  .line-wrapper {
    display: none;
  }

  .menu-btn,.close-btn{
    margin-right: 2rem;
  }


  .about-section {
    flex-direction: column;
    gap: 1.5rem;
  }

  .about-section-content {
    flex-direction: column-reverse;
    width: 95%;
  }

  .about-section .image-div img {
    width: 80%;
    margin: 2rem auto;
  }

  .about-section .text-div {
    text-align: center;
    margin-right: 0;
  }

  .about-section .text-div h2 {
    font-size: 40px;
  }

  .heading-line {
    width: 80px;
  }

  .about-section h2 .main-title {
    font-size: 28px;
  }

  .about-section h2 .special-heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .about-section p {
    font-size: 14px;
    width: 80%;
    margin: auto;
  }

  .services-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .service-card {
    padding: 3rem 1.5rem;
  }

  .service-top {
    font-size: 45px;
  }

  .service-title {
    font-size: 28px;
  }

  .service-sub {
    font-size: 15px;
    margin-bottom: 4rem;
  }

  .service-btn {
    font-size: 12px;
    padding: 9px 24px;
  }

  .section-content {
    flex-direction: column-reverse;
    gap: 1.5rem;
    width: 80%;
    margin: auto;
  }

  .black-bg {
    margin: 1.5rem 0;
    height: auto;
    padding: 0.75rem;
  }

  .black-bg img {
    width: 100%;
    height: auto;
  }

   .footer-insta-pop .insta-grid {
    grid-template-columns: 1fr 1fr;
  }
  .footer-insta-pop .insta-grid img {
    height: 120px;
  }
  .footer-col h3 {
    font-size: 22px;
  }
  .footer-col li,
  .footer-col p {
    font-size: 16px;
  }

  .menu-btn {
    display: block;
  }

  .footer-insta-pop {
    position: static;
    width: 90%;
    margin: 0 auto 2rem auto;
    height: auto;
    padding-top: 2rem;
  }

  .footer-insta-pop .the-line-wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .footer-insta-pop img {
    height: 150px;
  }

  .footer-bottom {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding-bottom: 2rem;
    margin: auto;
  }

  .footer-col {
    width: 100%;
  }

   .footer-insta-pop h2{
    color: white;
  }

  .header-links {
    display: none;
  }

  .header-menu-icon {
    display: block;
  }

  .header-wrapper h1 {
    font-size: 32px;
  }

  .header-wrapper .special-heading-wrapper {
    font-size: 32px;
  }

  .header-image {
    width: 70%;
    margin-bottom: -4rem;
  }
}

@media (max-width: 768px) {

  .side-nav {
    display: none;
  }

  .menu-btn {
    display: block;
    position: relative;
    z-index: 9999;
  }

  .logo-menu-wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
    margin-bottom: 2rem;
  }

  .feature .icon-with-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}


/* 768px – 990px */
@media (min-width: 768px) and (max-width: 989px) {
  .hero-left {
    width: 60%;
    padding: 2rem;
  }

  .logo {
    font-size: 50px;
  }

  .sub-title {
    font-size: 44px;
  }

  .title-line {
    width: 100px;
  }

  .title {
    font-size: 50px;
  }

  .description {
    width: 90%;
    font-size: 15px;
  }

  .services-btn {
    font-size: 14px;
  }


  .hero-left {
    width: 100%;
  }

  .hero-right {
    width: 100%;
  }

  .logo-menu-wrapper{
    display: flex;
    justify-content: space-between;
  }

  .header-nav{
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .line-wrapper {
    left: 58%;
    bottom: 20%;
  }

    .about-section-content {
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }

  .about-section .image-div {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .about-section .image-div img {
    width: 90%;
    max-width: 420px;
    min-width: 300px;
    margin: 1.5rem 0;
  }

  .about-section .text-div {
    flex: 1;
    text-align: center;
    margin-right: 4rem;
  }

  .about-section .text-div h2 {
    font-size: 40px;
  }

  .heading-line {
    width: 80px;
  }

  .about-section p {
    font-size: 13.5px;
    width: 95%;
    margin: auto;
  }

  .about-section .main-title{
    text-align: right;
  }

  .services-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .service-card {
    padding: 3.5rem 2rem;
  }

  .service-top {
    font-size: 50px;
  }

  .service-title {
    font-size: 32px;
  }

  .service-sub {
    font-size: 16px;
    margin-bottom: 4.5rem;
  }

  .service-btn {
    font-size: 12px;
    padding: 10px 26px;
  }

  .section-content {
    flex-direction: row;
    gap: 1.5rem;
    width: 95%;
  }

  .black-bg {
    margin: auto;
    height: 400px;
    padding: 0.75rem;
    align-items: center;
    margin-left: 1rem;
  }

  .black-bg img {
    height: 380px;
  }

     .footer-insta-pop {
    position: static;
    width: 80%;
    max-width: 600px;
    margin: 0 auto 3rem auto;
    height: auto;
    background: transparent;
    padding-top: 2rem;
  }

  .footer-insta-pop h2{
    color: white;
  }

  .footer-insta-pop img {
    height: 160px;
  }

  .footer-bottom {
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 2rem;
  }

  .footer-col {
    width: 45%;
    text-align: center;
  }

  .footer-col h3, 
  .footer-col p, 
  .footer-col li, 
  .work-title {
    text-align: center;
  }

  .header-nav {
    justify-content: space-between;
  }

  .header-wrapper h1 {
    font-size: 38px;
  }

  .header-image {
    width: 65%;
  }

  .side-nav a {
    font-size: 14px;
  }
}

/* 990px – 1200px */
@media (min-width: 990px) and (max-width: 1199px) {
  .hero-left {
    width: 55%;
  }

  .logo {
    font-size: 55px;
  }

  .sub-title {
    font-size: 50px;
  }

  .title-line {
    width: 110px;
  }

  .title {
    font-size: 55px;
  }

  .description {
    width: 85%;
    font-size: 15px;
  }

  .services-btn {
    font-size: 14px;
  }

  .hero-right {
    width: 45%;
  }

  .side-nav a {
    font-size: 17px;
  }

  .line-wrapper {
    left: 55%;
    bottom: 22%;
  }

  .about-section .text-div h2 {
    font-size: 52px;
  }

  .heading-line {
    width: 110px;
  }

  .about-section-content {
    width: 95%;
    gap: 2rem;
  }

  .about-section .image-div {
    flex: 1;
  }

  .about-section .image-div img {
    width: 100%;
    max-width: 500px;
    min-width: 350px;
    margin: 2rem 0 2rem 1rem;
  }

  .about-section .text-div {
    flex: 1;
  }

  .about-section .text-div h2 {
    font-size: 48px;
  }

  .about-section p {
    font-size: 14px;
    width: 95%;
  }

  .service-card {
    padding: 4rem 2rem;
  }

  .service-top {
    font-size: 55px;
  }

  .service-title {
    font-size: 34px;
  }

  .service-sub {
    font-size: 16px;
    margin-bottom: 5rem;
  }

  .service-btn {
    font-size: 12px;
    padding: 10px 28px;
  }

  .footer-insta-pop {
    right: 20px;
    top: -380px;
    width: 380px;
    height: 450px;
  }

  .footer-bottom {
    width: 55%;
    gap: 80px;
  }

  .footer-insta-pop img {
    height: 150px;
  }

 .header-links {
    gap: 30px;
  }

  .header-image {
    width: 55%;
  }
}
